<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
</head>
<body>

<form action = "{{ url_for('addnew') }}" method = "POST">
    <label>Enter your Name : </label>
    <input type="text" name = "name">
    <br><br>
    <label>Enter your email ID : </label>
    <input type="email" name = "email">
    <br><br>
    <label>Enter your age : </label>
    <input type="number" name = "age">
    <br><br>
    <input type = "submit" value="Submit">
</form>

</body>
</html>